.container {
  width: 350px;
  height: px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  border: 3px solid rgb(80, 80, 80);
}

.display {
  width: 400px;
  height: 100px;
  font-size: 30px;
  background-color: black;
  color: aliceblue;
  margin-bottom: 4px;
  text-align: right;
}

.text1 {
  font-size: 20px;
}

button {
  font-size: 25px;
  width: 23%;
  height: 18%;
  margin-bottom: 3px;
}

#allclear {
  width: 47.5%;
}

#result {
  width: 47.5%;
}

.claclation {
  font-size: 25px;
  width: 23%;
  height: 18%;
}